<template>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">MusicApp</a>
      <button
        class="navbar-toggler"
        type="button"
        @click="open = !open"
        :aria-expanded="open"
        aria-controls="navbarNav"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" :class="{ show: open }">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link class="nav-link" to="/playlists"
              >Playlists</router-link
            >
          </li>

          <li class="nav-item">
            <router-link class="nav-link" to="/search">Search</router-link>
          </li>
        </ul>

        <user-widget>
          <!-- <template v-slot="context"> -->
          <template v-slot="{ user }">
            <div class="ms-auto navbar-text">
              <div>Welcome, {{ user?.display_name || "Guest" }}</div>
            </div>
          </template>
        </user-widget>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue, { defineComponent } from "vue";
import UserWidget from "./UserWidget.vue";

export default defineComponent({
  components: {
    UserWidget,
  },
  data() {
    return { open: false };
  },
});
</script>
