<template>
  <!-- <slot :user="session.user"> -->
  <slot v-bind="session">
    Hello {{ session.user?.display_name || "Guest" }}
  </slot>
</template>

<script lang="ts">
import { SESSION_TOKEN } from "@/App.vue";
import { defineComponent } from "vue";

export default defineComponent({
  inject: {
    session: "SESSION_TOKEN",
    // session: SESSION_TOKEN,
  },
});
</script>
