<template>
  <div v-if="album">
    <div class="row">
      <div class="col">
        <h3 class="display-3">{{ album.name }}</h3>
        <small class="text-muted">{{ $route.params.id }}</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <album-card :album="album" />
      </div>
      <div class="col">
        <dl>
          <dt>Artist</dt>
          <dd>{{ album.artists[0].name }}</dd>
          <dt>Date realeased</dt>
          <dd>{{ album.date_released }}</dd>
        </dl>

        <audio :src="track?.preview_url" controls="true" class="w-100 my-3" ref="audio"></audio>

        <div class="list-group">
          <div
            class="list-group-item"
            v-for="track of album.tracks.items"
            :key="track.id"
            @click="play(track)"
          >
            {{ track.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
// http://localhost:8080/albums/5Tby0U5VndHW0SomYO7Id7
import { getAlbumById } from "@/services/MusicAPI";
import { Album, Track } from "core/model/Album";
import { ComponentPublicInstance, defineComponent, nextTick } from "vue";
import AlbumCard from "@/components/albums/AlbumCard.vue";

export default defineComponent({
  components: { AlbumCard },
  async beforeRouteEnter(to, from, next) {
    const album = await getAlbumById(to.params.id.toString());
    // @eslint-disable-next-line
    next((vm: any) => {
      vm.album = album;
      nextTick(() => {
        const audio = vm.$refs["audio"];
        if (audio instanceof HTMLAudioElement) {
          audio.volume = 0.2;
        }
      });
    });
  },
  methods: {
    play(track: Track) {
      this.track = track;
      nextTick(() => {
        const audio = this.$refs["audio"];
        if (audio instanceof HTMLAudioElement) {
          audio.play()
        }
      });
    },
  },
  data() {
    return {
      album: null as Album | null,
      track: null as Track | null,
    };
  },
});
</script>
