<template lang="html">
  <form
    @submit.prevent="submit"
    :class="$attrs.class"
    :style="($attrs.style as any)"
  >
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        v-model="draft"
        :placeholder="($attrs as any).placeholder || 'Search'"
        v-bind="{ ...$attrs, class: null, styles: null }"
      />

      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  inheritAttrs: false, // disable putting attributes on topmost element
  props: ["query"],
  emits: ["search", "update:query"],
  data() {
    return { draft: "" };
  },
  watch: {
    query: {
      handler(val) {
        this.draft = val;
      },
      immediate: true,
    },
    draft: {
      handler(val) {
        this.$emit("update:query", val);
      },
    },
  },
  methods: {
    submit() {
      this.$emit("search", this.draft);
    },
  },
});
</script>
