<template lang="html">
  <div>
    <div class="row">
      <div class="col">
        <SearchForm
          class="border p-2 mb-2"
          placeholder="Search Albums"
          v-model:query="draftQuery"
          @search="search"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="alert alert-danger" v-if="message">{{ message }}</div>
        <AlbumsGrid :results="results" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
/* eslint-disable */
import { ComponentPublicInstance, defineComponent } from "vue";
import SearchForm from "@/components/search/SearchForm.vue";
import AlbumsGrid from "@/components/albums/AlbumsGrid.vue";
import { searchAlbums } from "@/services/MusicAPI";
import { AlbumView } from "core/model/Album";

export default defineComponent({
  components: { SearchForm, AlbumsGrid },
  async beforeRouteEnter(to, from, next) {
    const q = to.query.q?.toString();

    const results = q ? await searchAlbums(q) : [];

    next((vueInstance: any) => {
      vueInstance.draftQuery = q;
      vueInstance.results = results;
    });
  },
  async beforeRouteUpdate(to, from, next) {
    const q = to.query.q?.toString() || ''
    this.message = "";
    this.results = [];
    this.draftQuery = q;
    this.results = await searchAlbums(q);
    next();
  },
  beforeRouteLeave(to, from, next) {
    if (this.hasSomeUnsavedChanges) {
      this.message = "You have unsaved data";
    } else next();
  },
  data() {
    return {
      results: [] as AlbumView[],
      draftQuery: "batman",
      message: "",
      hasSomeUnsavedChanges: false,
    };
  },
  methods: {
    search(query: string) {
      this.$router.push({ name: "Search", query: { q: query } });
    },
  },
});
</script>
