<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Hello VueJS</h1>
          <div id="app" v-on:click="changeMessage" v-cloak>
            {{ message }} {{obj2.message}} {{nested.myValue}}
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.6.14"></script>
    <script>
      obj2 = Vue.observable({ value: "test", message: "placki" });
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!",
          obj2,
          nested: {
            myValue: 123,
          },
          tablica: [{ v: 123 }],
        },
        methods: {
          changeMessage() {
            this.message = "changed";
          },
        },
      });
    </script>
    <!-- <script src="https://unpkg.com/vue@3.2.30"></script>
    <script>
      var app = Vue.createApp({
        // el: "#app",
        data: () => ({
          message: "Hello Vue!",
        }),
      }).mount("#app");
    </script> -->
  </body>
</html>
