<template lang="html">
  <div>
    <h1>Playlists</h1>

    <!-- .row>.col*2 -->
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlistsData"
          :selected-id="selectedId"
          @selected="selectPlaylist($event)"
          @remove="deletePlaylist($event)"
        />
        <button class="btn btn-info mt-3 float-end" @click="mode = 'create'">
          Create New
        </button>
      </div>
      <div class="col">
        <!-- @click.native="" - listen native events, not $emit event, v3 use emits:[...] -->
        <PlaylistDetails
          :playlist="selected"
          @edit="edit"
          v-if="selected && mode == 'details'"
        />

        <PlaylistForm
          :playlist="selected"
          @cancel="cancel"
          @save="savePlaylist"
          v-else-if="selected && mode == 'edit'"
        />
        <PlaylistForm
          @cancel="cancel"
          @save="createPlaylist"
          v-else-if="mode == 'create'"
        />
        <p class="alert alert-info" v-else>No playlist</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import PlaylistList from "@/components/playlists/PlaylistList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistForm from "@/components/playlists/PlaylistForm.vue";
import { Playlist } from "@/components/playlists/Playlist";
import { playlistData } from "@/store/mocks/playlistData";

type Modes = "details" | "edit" | "create";


interface PlaylistDataSchemaType {
  mode: Modes;
  selectedId: string | null;
  playlistsData: Playlist[];
  // selected: Playlist | null;
}

export default defineComponent({
  components: { PlaylistList, PlaylistDetails, PlaylistForm },
  data(): PlaylistDataSchemaType {
    return {
      mode: "details",
      playlistsData: playlistData,
      selectedId: "234",
    };
  },
  computed: {
    selected(this: PlaylistDataSchemaType) {
      return this.playlistsData.find((p) => p.id === this.selectedId)! || null;
    },
  },
  methods: {
    edit() {
      this.mode = "edit";
    },
    cancel() {
      this.mode = "details";
    },
    selectPlaylist(id: string) {
      debugger
      this.selectedId = id;
    },
    createPlaylist(draft: Playlist) {
      var array = new Uint16Array(4);
      draft.id = crypto.getRandomValues(array).join("-");
      this.playlistsData = [...this.playlistsData, draft];
      this.selectedId = draft.id;
      this.mode = "details";
    },
    deletePlaylist(id: string) {
      debugger
      this.playlistsData = this.playlistsData.filter((p) => p.id !== id);
      this.selectedId = null;
      this.mode = "details";
    },
    savePlaylist(draft: Playlist) {
      this.playlistsData = this.playlistsData.map((p) =>
        p.id === draft.id ? draft : p
      );
      this.selectedId = draft.id;
      this.mode = "details";
    },
  },
});
</script>
<style lang="css"></style>
