<template>
  <div>
    <nav-bar />
    <div class="container">
      <div class="row">
        <div class="col mb-1">
          {{ user }}

          <div v-if="message" class="alert alert-danger">{{ message }}</div>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import "bootstrap/dist/css/bootstrap.css";
import { defineComponent } from "vue";
import NavBar from "./components/NavBar.vue";
import { getCurentUserProfile, UserProfile } from "./services/MusicAPI";

export const SESSION_TOKEN = Symbol("SESSION_TOKEN");

// export default Vue.extends({
export default defineComponent({
  components: { NavBar },
  provide() {
    return {
      // USER_TOKEN: { user: this.user }, // not reactive
      'SESSION_TOKEN': this.sessionData, // reactive ref
      // [SESSION_TOKEN]: this.sessionData, // reactive ref
    };
  },
  data() {
    return {
      message: "",
      sessionData: {
        user: null as UserProfile | null,
      },
    };
  },
  async created() {
    this.$router.onError((error) => {
      this.message = error.message;
    });
    this.$router.afterEach((error) => {
      this.message = "";
    });

    try {
      this.sessionData.user = await getCurentUserProfile();
    } catch (e) {
      this.message = (e as Error).message;
    }
  },
});
</script>
