<template lang="html">
  <div>
    <div class="row row-cols-1 row-cols-sm-4 g-0">
      <div class="col" v-for="result of results" :key="result.id">
        <AlbumCard :album="result" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { AlbumView } from "core/model/Album";
import { defineComponent, PropType } from "vue";
import AlbumCard from "./AlbumCard.vue";

export default defineComponent({
  components: { AlbumCard },
  props: {
    results: {
      type: Array as PropType<AlbumView[]>,
    },
  },
});
</script>
<style lang="css"></style>
