<template lang="html">
  <router-link
    class="card"
    :to="{ name: 'AlbumDetails', params: { id: album.id } }"
  >
    <img :src="album.images[0].url" class="card-img-top" />

    <div class="card-body">
      <h5 class="card-title">{{ album.name }}</h5>
    </div>
  </router-link>
</template>

<script lang="ts">
import { AlbumView } from "core/model/Album";
import { defineComponent, PropType } from "vue";

export default defineComponent({
  props: {
    album: {
      required: true,
      type: Object as PropType<AlbumView>,
      // validator(album:AlbumView){
      //   return 'name' in album && 'images' in album
      // }
    },
  },
  data() {
    return { noimage: "https://www.placecage.com/c/300/300" };
  },
});
</script>
